form label{
    margin: 8px;
}
form label input{
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    color: black;
}
ul li{
    margin: 5px;
    padding: 5px;
}
ul li span{
    text-align: center;
    color: blue;
    display: block;
}
